:root{
    --primari-black:#1A2D2F;
    --primari-yellow:#EB9C38;
    --primari-white:#EBEAEA;
}
*{
    font-family: Ubuntu, "Noto Sans Myanmar", sans-serif;
}

body.stoped{
    overflow: hidden;
}

p{
    margin-bottom: 4px;
    font-size: 18px;
    
}
td{
    white-space: nowrap;
}
header{
    background-image: url(../stylesheets/img/bg-menu.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    height: 100vh;
    width: 30vw;
    background-color: var(--primari-black);
    padding: 24px 24px 24px 68px;
    display: flex;
    flex-direction: column;
}
#log-out {
    display: flex;
    flex-direction:row;
    margin: auto 0 0 0;
    border: 0px solid transparent;
    transition: 0.3s ease-in-out;
    border-radius: 8px;
    background-color: var(--primari-yellow);
    color: var(--primari-white);
    font-size: 20px;
    width: 100%;
    padding: 8px 12px;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration:none;
}
#log-in{
    display: flex;
    flex-direction:row;
    margin: auto 0 0 0;
    border: 0px solid transparent;
    transition: 0.3s ease-in-out;
    border-radius: 8px;
    background-color: var(--primari-yellow);
    color: var(--primari-white);
    font-size: 20px;
    width: 100%;
    padding: 8px 12px;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration:none;
}

#openHeder{
display: none;
}
#openHeder div {
    height: 2px;
    width: 20px;
    background-color: #fff;
    margin: 2px 0;
    transition: 0.4s;
}
#openHeder.active div:nth-child(1) {
    transform: rotate(-45deg) translate(-4px,4px);
}

#openHeder.active div:nth-child(2) {
    opacity: 0;
}

#openHeder.active div:nth-child(3) {
    transform: rotate(45deg) translate(-4px, -4px);
}

header img.logo{
    width: 50%;
    height: fit-content;
    margin: 0 auto  32px auto ;
}

header ul{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: fit-content;
    width: 100%;
    list-style: none;
}

header ul li{
    list-style: none;
    margin: 0;
    padding: 4px 0;

}
header ul li a{
    transition: 0.5s ease-in-out;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 8px 12px;
    text-align: left;
    color: var(--primari-white);
    border-radius: 8px;
    text-decoration: none;
    font-size: xx-large;
    font-weight: 600;
    position: relative;
    overflow: hidden;
}
header ul li a i{
    display: flex;
    margin: auto 0;
    margin-right: 12px;
}
header ul li a::before{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: transparent;
    content: "";
    transition: 0.3s ease-in-out;
    border-radius: 8px;
    z-index: -1;
}
header ul li a:hover{
    color: var(--primari-black);

}
header ul li a:hover::before{
    background-color: var(--primari-white);
    width: 100%;
}

#contianerAll {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 16px 32px 16px 16px;
    width: 70vw;
    margin-left: 30vw;
    background-color: var(--primari-white);
    min-height: 100vh;
    background-image: url(../stylesheets/img/patron-father.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
    
}

.user-actions{
    width: 100%;
    height:fit-content;
    padding:16px 0;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    display: none;
}
.user-actions p{
    margin: auto auto auto 10px;
    font-size: 20px;
    font-weight: 600;
    color: #1A2D2F;
    padding: 0;

}
.user-actions .alerts{
    margin: auto 10px auto 24px;
    padding: 0;
}
.user-actions .alerts button img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;

    
} 

.user-actions .alerts button{
    position: relative;
    border-radius: 500px;
    background-color: var(--primari-black);
    border: 1px solid var(--primari-black);
    height: 32px;
    width: 32px;
    padding: 0;

}
.user-actions #goUser{
    margin: 0 0 0 24px;
    overflow: hidden;
    border-radius: 500px;
    background-color: var(--primari-white);
    outline: 1px solid var(--primari-black);
    height: 32px;
    width: 32px;
}


/* definition boxes defoult */
/* definition boxes defoult */
.interface .row .col-md-3,
.interface .row .col-md-4,
.interface .row .col-md-6{
    margin-bottom: var(--bs-gutter-x) ;
    transition: 0.5s ease-in-out;
}
.box-view{
    border-radius: 20px;
    background-color: var(--primari-black);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: var(--primari-white);
    width: 100%;
    padding: 24px;
    padding-bottom: 0px;
    align-items: center;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s ease-in-out;
}

.box-view .value {
    text-width: 21px;
}
.box-view table{
    margin-bottom: 16px;
    width: 100%;
}
.box-view tr{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.box-view a.type-btn{
    text-align: center;
    background-color: #EB9C38;
    color: var(--primari-white);
    border-radius: 8px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 12px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto 0 10px 0;
}
.box-view button.type-btn{
    text-align: center;
    background-color: #EB9C38;
    color: var(--primari-white);
    border-radius: 8px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 12px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto 0 10px 0;
}
.box-view .title-box{
    font-size: 30px;
    font-weight: 600;
    color: var(--primari-white);
    padding: 0 0 12px 0;
    border-bottom:1px solid var(--primari-white);
    text-align: center;
    width: 100%;
}



.box-view img.icon-general{
    height: fit-content;
    width: 80px;
    margin: 0 auto 16px auto;

}

@media(max-width:1200px){
    .box-view .title-box{
        font-size: 22px;
    }
    .box-view a.type-btn{
        font-size: 14px;
    }
}

/* --------- */

#svg circle {
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 1s linear;
    stroke: #666;
    stroke-width: 1em;
  }
  #svg #bar {
    stroke: #ff9f1e;
    border-radius: 100000px;
  }
  #cont {
    display: block;
    margin: 0 auto 0 auto;
    height: 80px;
    width:80px ;
    border-radius: 100%;
    position: relative;
  }
  #cont:after {
    position: absolute;
    display: block;
    height:80px;
    width: 80px;
    left: 50%;
    top: 50%;
    box-shadow: inset 0 0 1em black;
    content: attr(data-pct) "%";
    margin-top: -80px;
    margin-left: -80px;
    border-radius: 100%;
    line-height: 160px;
    font-size: 2em;
    text-shadow: 0 0 0.5em black;
  }

  #myProfile p.titleUser{
    font-size: 32px;
    font-weight: 600;
  }

  .myAvatar{
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border-radius: 500px;
    width: 100%;
  }

  .myAvatar img{
   width: 100%;
   height: auto;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50% , -50%);
  }

  #myProfile #myTab button{
    background-color: none;
    border: 0px solid transparent;
    border-radius: 0px;
    color: var(--primari-black);
    font-size: 24px;
    font-weight: 600;
    position: relative;
    padding: 0 ;
    margin: 0 12px 12px 0;
    position: relative;
  }
  #myProfile #myTab button::after{
    position: absolute;
    content: "";
    width: 0%;
    height: 5px;
    background-color: var(--primari-yellow);
    border-radius: 500px;
    transition: 0.3s ease-in-out;
    bottom: -3px;
    transform: translate(-50%,0%);
    left: 50%;
  }

  #myProfile #myTab button.active::after{
    width: 100%;
  }



/* USERS */
.user-actions{
    height: 10vh;
}
.grow-down {
    flex: 1;
}
.users-col {
    margin-top: 10px;
    width: 49%;
}
.teams-col {
    margin-top: 10px;
    width: 49%;
}
.tournaments-col {
    margin-top: 30px;
}
.users-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.box-paginated {
    justify-content: flex-start;
}
.pagination-nav {
    margin-top: auto;
}
.page-item .page-link {
    color: white;
    background-color: transparent;
}
.page-link:hover {
    background-color: rgba(255,255,255,.2);
}
.interface {
    height: 90vh;
}
.winrates-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.kt-avatar {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    object-fit: cover;
}
.user-actions form{
    height: fit-content;
}

.align-right-tr{
    display: table-row !important;
    border-bottom: 10px solid transparent;
}

.tournament-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-container {
    display: flex;
    align-items: center;
}
.position-container{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}
.box-view-profile {
    align-items: flex-start;
    padding: 24px;
}
.kt-avatar-profile {
    width: 300px;
    height: 300px;
    margin-right: 24px;
    object-fit: cover;
}
.profile-info {
    display: flex;
    flex-direction: column;
}
.p-i-col{
    height:100%;
    justify-content: space-evenly;
}
.no-border {
    border-bottom: 0px solid var(--primari-white) !important;
}
.profile-form{
    width: 50%;
    align-self: center;
    display: flex;
    flex-direction: column;
}
.edit-image{
    position: absolute;
    top: 75%;
    left: 70%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .6);
    border-color: transparent;
    color: var(--primari-black);
    font-size: larger;
}
.profile-form input{
    margin-bottom:12px;
    background: rgba(255,255,255,.2);
    height: 50px;
    color: white;
}
.profile-form select{
    margin-bottom: 12px;
    background: rgba(255,255,255,.2);
    -webkit-appearance: menulist-button;
    height: 50px;
    color: white;
}
.position-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.position-item{
    background-color: rgba(235, 234, 234, .7);
    border-radius: 5px;
    color: var(--primari-black);
    text-align: center;
    padding: 10px;
    justify-content: space-evenly;
}
.kt-mr-10{
    margin-right: 2%;
    border-radius: 5px;
    width: 24%
}
.kt-avatar-position {
    width: 250px;
    height: 250px;
    margin-right: 24px;
    object-fit: cover;
}
.margin-right-20{
    margin-right: 20px;
}


.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1;
}

/* Styles for the popup */
.popup {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

/* Styles for the file input */
.popup input[type="file"] {
    display: none;
}
#uploadForm {
        display: flex;
    flex-direction: column;
    align-items: center;
}
/* Style for the custom file input button */
.file-input-label {
    cursor: pointer;
    border-color: transparent;
    width: 80%;
    color: white;
    background-color: var(--primari-yellow);
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    padding: 12px 4px 12px 4px;
}


/* Map things */

.clear {
	clear: both;
}
.bg {
    position: relative;
	box-shadow: 0 1rem 3.1rem -.4rem rgba(26,45,47,0.6);
}
.point {
	position: absolute;
	z-index: 99999;
	width: 1.3rem;
	height: 1.3rem;
	background-color: #EB9C38;
	border-radius: 50%;
	cursor: pointer;
	background-image: url(../img/cross.svg);
	transition: .5s ease-in-out;
}
.point:hover {
	transform: rotate(90deg);
}
.point::after {
    width: 3.9rem;
    height: 3.9rem;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	background-color: #EB9C38;
	border-radius: 50%;
	opacity: 0;
	margin: -1.3rem 0 0 -1.3rem;
	animation: waves 20s infinite;
}
@keyframes waves {
  0% {
    transform: scale(0);
  }
  1% {
    opacity: .7;
  }
  5% {
    opacity: 0;
    transform: scale(1);
  }
}
.info {
	width: 25rem;
	height: 20rem;
	position: absolute;
	top: 5rem;
    left: -8rem;
	transform: rotate(-90deg);
	display: none;
}
.point:hover .info {
	display: block;
}
.content_container {
	background-color: #cecece;
	box-shadow: 0 1rem 3.1rem -.4rem rgba(235, 157, 56, 0.4);
	border-radius: .7rem;
	position: absolute;
	animation: appear 1s;
	transition: 1s;
	background-color: var(--primari-black);
    color: var(--primari-white);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid var(--primari-yellow);
}
.content_container:before {
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	top: 5.5rem;
    left: 99%;
	border-style: solid;
	border-width: .75rem 0 .75rem .8rem;
	border-color: transparent transparent transparent #a9a9a9;
}
@keyframes appear {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
	opacity: 0;
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
.title {
	width: 25rem;
	height: 4rem;
	background-color: #1A2D2F;
	border-radius: .7rem .7rem 0 0;
	font-size: 30px;
    font-weight: 600;
	color: #fff;
	padding: 1rem;
	text-align: center;
    border-bottom:1px solid var(--primari-white);
}
.text {
	padding: 2rem;
	font-size: 1.2rem;
	line-height: 1.8rem;
	color: #1A2D2F;
}

#sur {
    top: 65%;
    left: 45%;
}
#sur::after {
	animation-delay: 5s;
}
#noreste {
    top: 25%;
    left: 80%;
}
#noreste::after {
	animation-delay: 4s;
}
#este {
    top: 51%;
    left: 70%;
}
#este::after {
	animation-delay: 3s;
}
#centro {
    top: 36%;
    left: 51%;
}
#centro::after {
	animation-delay: 2s;
}
#norte {
    top: 9%;
    left: 49%;
}
#norte::after {
	animation-delay: 1s;
}
.info table {
    display: flex;
    margin: auto;
    flex-direction: column;
}
.info tr {
    display: flex;
    justify-content: space-between;
    padding: 0 15px 5px 15px;
}
.land-back {
    min-height: 100vh;
    background: #1D4046;
    display: flex;
    flex-direction: column;
}
.land-1{
    background-image: url(../stylesheets/img/land-1.png);
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.land-2{
    background-image: url(../stylesheets/img/land-2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 1200px;
}
.info-panel{
    background: rgba(255,255,255,.6);
    align-self: center;
    margin-top: 300px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info-logo{
    background-image: url(../stylesheets/img/logo-ibericon.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 40%;
    max-width: 340px;
    height: 300px;
    margin-top: -180px;
}
.marine-1 {
    background-image: url(../stylesheets/img/marine-1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    left: 65%;
    position: absolute;
    width: 40%;
    height: 80%;
    transform: scale(.8);
}

.marine-2 {
    background-image: url(../stylesheets/img/marine-2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 900px;
    left: -5%;
    width: 40%;
    height: 80%;
    transform: scaleX(-1);
}

.info-text{
    color: #c87f10;
}
.info-text-title{
    text-align: center;
    padding: 1% 15%;
    font-weight: 600;
    margin-bottom: 2%;
}
.info-text-content{
padding: 1% 15%;
    color: black;
}

.info-video{
    padding: 0 15%;
    width: 100%;
    margin-top: 50px;
}
.info-video object{
    width: 100%;
    aspect-ratio: 1.6;
}

.second {
margin-top: 30px;
    color: #000;

}
.info-text a {
    color: #fff !important;
    width: 30% !important;
    margin: 2% auto !important;
}
.land-1 .login{

    display: flex;
    width: 60%;
    margin: 5% auto;
    flex-direction: column;
    justify-content: center;
    color: white;
    background: transparent;
    border-radius: 20px;
    border: 1px solid white;
    align-items: center;
    padding: 20px 0 20px 0;
}

.login form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 100%;
}
.login a{
    text-align: center;
    cursor: pointer;
}
.login form input,
.login form select{
    width: 30%;
}
.login form input::placeholder {
  color: white;
  opacity: .8; /* Firefox */
}
.login-form input::placeholder {
  color: black !important;
  opacity: .8; /* Firefox */
}
#signup {
    display: none;
}
.land-1 button {
    text-align: center;
    background-color: #EB9C38;
    color: var(--primari-white);
    border-radius: 8px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 12px;
    width: 30% !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 30px 0 10px 0;
}



@media(max-width:1200px){
.row {
    justify-content: center;
}
    header{
        padding: 2% 2% 2% 5%;
    }
    header ul li a{
        font-size: x-large;
        font-weight: 500;
    }
    .col-md-3{
        width: 50%;
    }
    .col-md-4 {
        width: 100%;
    }
    .col-md-8 {
        margin-bottom: 20px;
        width: 100%;
    }
    .position-info{
        flex-wrap: wrap;
    }
    .kt-mr-10{
    marign-bottom: 12px !important;
        width: 40%;
    }
    .users-content,
    .winrates-content{
        flex-direction: column;
    }
    .info-panel{
        margin-top: 200px;
        width: 95%;
    }
    .marine-1{
        display: none;
    }
    .marine-2{
        display: none;
    }
    .land-1 .login{
        width: 95%;
    }
    .login form input,
    .login form select{
        width: 50%;
    }
    .login button {
        width: 50%;
    }
    .kt-avatar-profile{
        width: 150px;
        height: 150px;
    }
    .edit-image{
        top: 70%;
        left: 60%;
        height: 40px;
        width: 40px;
    }
}
@media(max-width:1000px){
    .position-container{
        flex-direction: column;
    }
    .profile-info{
        margin-bottom: 30px;
    }
    .margin-right-20{
        margin-right: 0px;
    }
    .kt-avatar-position{
        margin-right: 0px;
    }
}
@media(max-width:768px){
td {
    font-size: .8rem;
    text-align: left;
}
    .info-panel {
        margin-top: 120px;
    }
    .info-logo{
        width: 70%;
        height: 290px;
        margin-top: -130px;
    }
    .info-text-title {
        padding: 1% 5%;
    }
    .info-text-content{
        padding: 1% 5%;
    }
    .info-video{
        padding: 1% 5%;
    }
    .login form input,
    .login form select{
        width: 90%;
    }
    .login button {
        width: 90%;
    }
    .profile-container{
        flex-direction: column;
        margin: auto;
    }
    .profile-form{
        width: 100%;
    }
    header{
        width: 100vw;
        margin: 0;
        padding: 16px;
        position: fixed;
        top: 0;
        right: 100%;
        transition: 0.3s ease-in-out;
        margin: 0;
    }
    header ul li a{
        font-size: x-large;
        font-weight: 600;
    }
    header #log-in{
        margin-bottom: 50px;
    }
    header #log-out{
        margin-bottom: 50px;
    }
    #contianerAll{
        margin: 0;
        width: 100vw;
    }
    header.opened{
        right: 0;
        z-index: 9;
    }
    #openHeder{
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 16px;
        right: 16px;
        background-color: var(--primari-black);
        padding: 8px 12px;
        color: var(--primari-white);
        font-size: 18px;
        border-radius: 8px;
        z-index: 10;
    }
    .bg {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 1rem 3.1rem -0.4rem rgba(26,45,47,0);;
    }
    .bg svg {
        display: none;
    }
    .point {
        background-color: transparent;
        display: contents;
        margin:
    }
    .point::after {
        background-color: transparent;
    }
	.point:hover {
	    transform: rotate(0deg);
    }
    .point .info {
        display: block;
	    transform: rotate(0deg);
	    position: relative;
	    top: 0px;
	    left: 0px;
	    width: 100%;
	    height: fit-content;
        margin-bottom: 8%;
    }
    .content_container{
        position: relative;
        width: 100%;
        border-color: transparent;
        box-shadow: 0 1rem 3.1rem -0.4rem rgba(235, 157, 56, 0);
        color: var(--primari-white);
        padding: 0 0 12px 0;
        border-bottom:1px solid var(--primari-white);
        text-align: center;
    }
    .content_container:before {
        background-color: transparent;
        border-color: transparent;
    }
    .content_container .title {
	    height: fit-content;
	    font-size: 22px;
        font-weight: 600;
        color: var(--primari-white);
        padding: 0 0 12px 0;
        border-bottom:1px solid var(--primari-white);
        text-align: center;
        width: 100%;
    }
}
@media(max-width:400px){
.position-info{
    justify-content: center;
}
.h6{
        font-size: .8rem;
}
    .col-md-3{
    width: 80%;
    aspect-ratio: 1.3;
    }
}
@media(max-width: 325px){

    .icon-general {
        width: 40px !important;
    }
}
@media(max-height:768px) {
    header{
        padding: 5px;
    }
    header ul li a{
        font-size: large;
        font-weight: 600;
    }
}
@media(max-height:550px) {

    header .logo{
        display: none;
    }
}
@media(max-height:400px) {
    header ul li a {
        font-size: small;
    }
}
