<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title }}</title>
    <link rel="icon" href="{{ url_for('static', filename='stylesheets/img/logo-ibericon.png') }}">

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/elegant-line-icons.css') }}">
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/styles.css') }}">

  </head>
<body>

<header>
  <img class="logo" src="../static/stylesheets/img/logo-ibericon.png" alt="">
  <nav>
    <ul>
        <li><a href="/"><i class="icon-desktop"></i> Global</a></li>
        {% if user %}
            <li><a href="/profile"><i class="icon-profile-male"></i> Perfil</a></li>
            <li><a href="/position"><i class="icon-linegraph"></i> Mi posición</a></li>
        {% endif %}
        <li><a href="/tournaments"> <i class="icon-trophy"></i>Torneos</a></li>
        <li><a href="/ranking"> <i class="icon-bargraph"></i>Ranking</a></li>
        <li><a href="/winrates"> <i class="icon-piechart"></i>Win rates</a></li>
        <li><a href="/factions"> <i class="icon-grid"></i>Facciones</a></li>
    </ul>
  </nav>
    {% if user %}
        <a href="/logout" id="log-out">{{ user.bcpName }} (Salir)</a>
    {% else %}
        <a href="/login" id="log-in">Entrar</a>
    {% endif %}
</header>
<button id="openHeder" onclick="toggleMenu()">
    <div></div>
    <div></div>
    <div></div>
</button>

<section id="contianerAll">
  <div class="user-actions">
      <p>{{ subtitle }}</p>
      <div class="dropdown alerts">
          {% if user %}
            <p>{{ user.bcpName | truncate(30, True, '...', 0) }}</p>
          {% endif %}
          <input type="search" placeholder="Buscar">
          <button  type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="../static/stylesheets/img/icon_alerts.svg" alt="">
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Notificaciones</a></li>
            <li><a class="dropdown-item" href="#">Mi posición</a></li>
            <li><a class="dropdown-item" href="#">Torneos</a></li>
          </ul>
      </div>
    <!--<form action="">
      <div class="flex-form">
        <input type="search" placeholder="Buscar">
        <button type="submit"><i></i></button>
      </div>
    </form>

    <div class="dropdown alerts">
      <button  type="button" data-bs-toggle="dropdown" aria-expanded="false">
       <img src="../static/stylesheets/img/icon_alerts.svg" alt="">
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>-->

  </div>
  <div class="interface grow-down">
    {% block content %}
 
     {% endblock %}
  </div>
</section>


    <footer>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
      <script>
        $('#percent').on('change', function(){
          var val = parseInt($(this).val());
          var $circle = $('#svg #bar');
          
          if (isNaN(val)) {
          val = 100; 
          }
          else{
            var r = $circle.attr('r');
            var c = Math.PI*(r*2);
          
            if (val < 0) { val = 0;}
            if (val > 100) { val = 100;}
            
            var pct = ((100-val)/100)*c;
            
            $circle.css({ strokeDashoffset: pct});
            
            $('#cont').attr('data-pct',val);
          }
});

      </script>
      <script>  
        $('#openHeder').on('click', function(){
          $('header').toggleClass('opened');
          $('body').toggleClass('stoped');
      });

      $( document ).ready(function() {
         var widthAvatar = $('.myAvatar').width();
         $('.myAvatar').height(widthAvatar);
      });



      </script>
        <script>
        function toggleMenu() {
            var menuIcon = document.getElementById('openHeder');
            menuIcon.classList.toggle('active');
        }
    </script>
    </footer>
</body>
</html>