{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="overlay" id="popupOverlay">
        <div class="popup">
            <h2>Upload Image</h2>
            <form id="uploadForm" >
                <label for="imageInput" class="file-input-label">Choose Image</label>
                <input name="file" type="file" id="imageInput" accept="image/*" onchange="displaySelectedFile()">
                <img style="width: 300px; display: none; margin-top: 10px;" id="imagePreview" alt="Image Preview">
                <br>
                <button class="file-input-label" style="margin-top: 10px; display: none;" id="buttonPicture" type="submit">Upload</button>
            </form>
            <button class="file-input-label" style="margin-top: 10px;" onclick="closePopup()">Close</button>
        </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-12 align-self-stretch">
        <div class="box-view box-view-profile" style="background-image: url(../static/stylesheets/img/bg-invent-1.png);">
            <div class="position-container">
              <div class="profile-info margin-right-20">
                  <div style="position: relative">
                      <img src="{{ club.profilePic }}" class="rounded-circle shadow-4 kt-avatar-position" alt="Avatar" />
                      {% if user.id == club.leader %}
                        <button onclick="showPopup()" class="edit-image"><i class="icon-pencil"></i></button>
                      {% endif %}
                  </div>
              </div>
                <div class="profile-info grow-down">
                    <div>
                        <p class="h2"><strong>{{ club.name }}</strong></p>
                        <p class="h6"><small>Conferencia: </small><strong>{{ club.conference }}</strong></p>
                    </div>
                  <div style="margin-top: 15px;" class="position-info">
                      <div class="col-md-3 align-self-stretch kt-mr-10">
                      <div class="box-view position-item">
                          <p class="display-6"><i class="icon-profile-male"></i></p>
                        <p class="h4">{{ club.users | length }}</p>
                        <p>Jugadores</p>
                      </div>
                    </div>
                    <div class="col-md-3 align-self-stretch kt-mr-10">
                      <div class="box-view position-item">
                          <p class="display-6"><i class="icon-bargraph"></i></p>
                        <p class="h4">{{ position }}º</p>
                        <p>Ibericon</p>
                      </div>
                    </div>
                      <div class="col-md-3 align-self-stretch kt-mr-10">
                      <div class="box-view position-item">
                          <p class="display-6"><i class="icon-bargraph"></i></p>
                        <p class="h4">{{ '%0.2f'| format(club.ibericonScore) }}</p>
                        <p>Puntuación</p>
                      </div>
                    </div>
                    <div class="col-md-3 align-self-stretch kt-mr-10">
                      <div class="box-view position-item">
                          <p class="display-6"><i class="icon-trophy"></i></p>
                        <p class="h4">{{ club.tournaments|length }}</p>
                        <p>Torneos</p>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    {% for tor in club.tournaments %}
  <div class="row mb-4">
      <div class="col-md-12 align-self-stretch">
        <div class="box-view" style="background-image: url(../static/stylesheets/img/bg-invent-1.png);">
            <p class="title-box" onclick="window.open('{{ tor.bcpUri }}', '_blank');"><img src="{{ tor.imgUri }}" class="rounded-circle shadow-4 kt-avatar"
                                                     alt="Avatar" />{{ tor.name }}</p>
            <table class="fl-table">
                <thead>
                <tr>
                    <th style="width: 70%;">Jugador</th>
                    <th style="width: 20%;">Posición</th>
                    <th>Puntuación</th>
                </tr>
                </thead>
                <tbody>
                    {% for clubTor in clTor %}
                        {% if tor.id == clubTor.UserTournament.tournamentId %}
                            {% for usr in club.users %}
                                {% if usr.id == clubTor.UserTournament.userId %}
                                    <tr onclick="location.href='/user/{{ clubTor.UserTournament.userId }}';">
                                        <td style="width: 70%;">{{ usr.bcpName | truncate(30, True, '...', 0) }}</td>
                                        <td style="width: 20%;">{{ clubTor.UserTournament.position }}</td>
                                        <td>{{ '%0.2f'| format(clubTor.UserTournament.ibericonScore) }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                <tbody>
            </table>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
<script>
    function showPopup() {
        document.getElementById('popupOverlay').style.display = 'flex';
    }

    function closePopup() {
        document.getElementById('popupOverlay').style.display = 'none';
    }
    function displaySelectedFile() {
        var fileInput = document.getElementById('imageInput');
        var imagePreview = document.getElementById('imagePreview');
        var buttonPicture = document.getElementById('buttonPicture');

        if (fileInput.files.length > 0) {

            // Display image preview
            var reader = new FileReader();
            reader.onload = function (e) {
                imagePreview.src = e.target.result;
                imagePreview.style.display = 'block'
                buttonPicture.style.display = 'block'
            };
            reader.readAsDataURL(fileInput.files[0]);
        } else {
            imagePreview.src = '';
        }
    }

    // Add an event listener to the form for handling the submission
    document.getElementById('uploadForm').addEventListener('submit', function (event) {
        event.preventDefault(); // Prevent the default form submission behavior

        var form = document.getElementById('uploadForm');
        var formData = new FormData(form);

        // Send AJAX POST request to Flask server
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/new-team-image/' + {{ club.id }}, true);

        // Set up the callback to handle the response
        xhr.onload = function () {
            if (xhr.status === 200) {
                window.location.reload();
            } else {
                alert('Error uploading file. Please try again.');
            }
        };

        // Send the form data
        xhr.send(formData);
    });
</script>
{% endblock %}