{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
      <div class="col-md-3 align-self-stretch">
        <div class="box-view">
          <img class="icon-general" src="../static/stylesheets/img/icon_player.svg" alt="">
          <p class="display-6">{{ numUsers }}</p>
          <p>Jugadores</p>
        </div>
      </div>
      <div class="col-md-3 align-self-stretch">
        <div class="box-view">
          <img class="icon-general" src="../static/stylesheets/img/icon_tournament.svg" alt="">
          <p class="display-6">{{ numTour }}</p>
          <p>Torneos</p>
        </div>
      </div>
      <div class="col-md-3 align-self-stretch">
        <div class="box-view">
          <img class="icon-general" src="../static/stylesheets/img/icon-mony_earn.svg" alt="">
     

        <!-- <div id="cont">
            <svg id="svg" width="80px" height="80px" viewPort="0 0 80 80" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <circle r="90" cx="100" cy="100" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
            <circle id="bar" r="90" cx="100" cy="100" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
            </svg>
        </div>
        <input class="d-none" id="percent" name="percent"> -->

          <p class="display-6">768 €</p>
          <p>Recaudados para
            los Golden Tickets</p>
        </div>
      </div>
      <div class="col-md-3 align-self-stretch">
        <div class="box-view">
          <img class="icon-general" src="../static/stylesheets/img/icon_money_travel.svg" alt="">
          <p class="display-6">25%</p>
          <p>Recaudados para
            los viajes</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 align-self-stretch">
        <div class="box-view" style="background-image: url(../static/stylesheets/img/bg-invent-1.png);">
          <p class="title-box">Top 5 Ibericon</p>

          <table class="fl-table">
            <thead>
            <tr>
                <th><small>Nombre</small></th>
                <th><small>Puntos</small></th>
            </tr>
            </thead>
            <tbody>
            {% for us in users[:5] %}
                <tr onclick="location.href='/user/{{ us.id }}';">
                    <td style="width: 70%;"><img src="{{ us.profilePic }}" class="rounded-circle shadow-4 kt-avatar"
                                                 alt="Avatar" /><small>{{ us.bcpName | truncate(20, True, '...', 0) }}</small></td>
                  <td><small>{{ '%0.2f'| format(us.ibericonScore) }}</small></td>
                </tr>
            {% endfor %}
            <tbody>
        </table>
        <a class="type-btn" href="/users"> <i></i>Clasificación Jugadores</a>
        </div>
      </div>
      <div class="col-md-4 align-self-stretch">
        <div class="box-view" style="background-image: url(../static/stylesheets/img/bg-invent-2.png);">
          <p class="title-box">Equipos</p>
          <table class="fl-table">
            <thead>
            <tr>
                <th><small>Nombre</small></th>
                <th><small>Puntuación</small></th>
            </tr>
            </thead>
            <tbody>
            {% for cl in clubs[:5] %}
                <tr onclick="location.href='/club/{{ cl.id }}';">
                  <td style="width: 70%;"><img src="{{ cl.profilePic }}" class="rounded-circle shadow-4 kt-avatar"
                                                 alt="Avatar" /><small>{{ cl.name | truncate(20, True, '...', 0) }}</small></td>
                  <td><small>{{ '%0.2f'| format(cl.ibericonScore) }}</small></td>
                </tr>
            {% endfor %}
            <tbody>
        </table>
        <a class="type-btn" href="/teams"> <i></i>Clasificación Equipos</a>
        </div>
      </div>
      <div class="col-md-4 align-self-stretch">
        <div class="box-view" style="background-image: url(../static/stylesheets/img/bg-invent-3.png);">
          <p class="title-box">Próximos Eventos</p>
          <table class="fl-table">
            <thead>
            <tr>
                <th><small>Nombre</small></th>
                <th><small>Fecha</small></th>
            </tr>
            </thead>
            <tbody>
            {% for to in tournaments[:5] %}
              {% if not to.Tournament.isFinished %}
                <tr onclick="location.href='{{ to.bcpUri }}';">
                  <td style="width: 70%;"><img src="{{ to.Tournament.imgUri }}" class="rounded-circle shadow-4 kt-avatar"
                                                 alt="Avatar" /><small>{{ to.Tournament.name | truncate(15, True, '...', 0) }}</small></td>
                  <td><small>{{ to.Tournament.date }}</small></td>
                </tr>
              {% endif %}
            {% endfor %}
            <tbody>
        </table>
          <a class="type-btn" href="/tournaments"> <i></i>Calendario Anual</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}