<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title }}</title>
    <link rel="icon" href="{{ url_for('static', filename='stylesheets/img/logo-ibericon.png') }}">

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/elegant-line-icons.css') }}">
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/styles.css') }}">

  </head>
<body>
    <div class="land-back">
        <div class="land-1">
            <div class="marine-1">
            </div>
            <div class="marine-2">
            </div>
            <div class="info-panel">
            <div class="info-logo">
            </div>
            <div class="info-text">
                <p class="display-3 info-text-title">¡¡Bienvenido a la Ibericon League!!</p>
                <p class="info-text-content">Si estás aquí es porque la sangre de un auténtico hijo de Horus Lupercal corre por tus venas y quieres formar parte de esta gran competición que te hará aventurarte en grandes expediciones, conocer nuevos lugares, enfrentarte a los mejores jugadores de toda España y estrechar amistades con nuestra gran comunidad de Kill Team.</p>
                <p class="info-text-content">Ibericon es una iniciativa que aúna a más de 20 TOs nacionales procedentes de cada comunidad autónoma para crear un circuito de torneos nacional que te posicionará en el ránking español de todos los participantes de la península e islas.<p>
                <p class="info-text-content">Este ránking te llevará a ganar puntos para poder optar a los anhelados Golden Tickets que te darán pase directo al Mundial de Kill Team en los Estados Unidos.<p>
                <p class="info-text-content">Pero como una imagen vale más que mil palabras, hemos decidido juntar las dos cosas y presentarte la iniciativa en el siguiente vídeo.<p>
            </div>
            <div class="info-video">
              <object data="https://www.youtube.com/embed/ltyt5J6W9b0"></object>
            </div>
             <div class="info-text second">
                <p class="display-4 info-text-title">Aún tienes dudas?</p>
                <p class="info-text-content ts-px">Descárgate nuestras bases donde te explicaremos todo al dedillo y, si aún así las sigues teniendo, estaremos encantados de solucionarlas en infoibericon@ibericon.com<p>
                <a href="{{ url_for('static', filename='doc/BASES_2024.pdf') }}" target="_blank" id="log-out">Bases</a>
            </div>
        </div>
            <div id="login" class="login">
                <p style="font-family: 'Machine'" class="display-4">Login</p>
                <form class="profile-form info-text" action="/login" method="post">
                    <input placeholder="Email BCP" type="text" name="email" id="email">
                    <input placeholder="Contraseña" type="password" name="password" id="password">
                    <button type="submit">Entrar</button>
                    <a onclick="showSignup()">No tienes cuenta? Regístrate</a>
                </form>
            </div>
            <div id="signup" style="{display: none;}" class="login">
            <p style="font-family: 'Machine'" class="display-4">Registro (Credenciales BCP)</p>
            <form class="profile-form info-text" action="/signup" method="post">
                <input placeholder="Email BCP" type="text" name="email" id="emailr">
                <input placeholder="Contraseña BCP" type="password" name="password" id="passwordr">
                <select name="city" id="city">
                    {% for city in cities %}
                        <option value="{{ city.name }}">{{ city.name }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Resgistrarse</button>
                <a onclick="showLogin()">Ya tienes cuenta? Entra</a>
            </form>
        </div>
        </div>
    </div>
    <script>
        var login = document.getElementById('login');
        var signup = document.getElementById('signup');
        function showSignup() {
            login.style.display = 'none';
            signup.style.display = 'flex';
        };
        function showLogin() {
            login.style.display = 'flex';
            signup.style.display = 'none';
        };
    </script>
</body>
</html>