{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="overlay" id="popupOverlay">
        <div class="popup">
            <h2>Upload Image</h2>
            <form id="uploadForm" >
                <label for="imageInput" class="file-input-label">Choose Image</label>
                <input name="file" type="file" id="imageInput" accept="image/*" onchange="displaySelectedFile()">
                <!-- Image preview container -->
                <img style="width: 300px; display: none; margin-top: 10px;" id="imagePreview" alt="Image Preview">
                <br>
                <button class="file-input-label" style="margin-top: 10px; display: none;" id="buttonPicture" type="submit">Upload</button>
            </form>
            <button class="file-input-label" style="margin-top: 10px;" onclick="closePopup()">Close</button>
        </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-12 align-self-stretch">
        <div class="box-view box-view-profile" style="background-image: url(../static/stylesheets/img/bg-invent-1.png);">
            <div class="profile-container">
                <div style="position: relative">
                    <img src="{{ usr.profilePic }}" class="rounded-circle shadow-4 kt-avatar-profile" alt="Avatar">
                    <button onclick="showPopup()" class="edit-image"><i class="icon-pencil"></i></button>
                </div>
                <div class="profile-info p-i-col">
                    <p class="h2"><strong>{{ usr.bcpName }}</strong></p>
                    <div>
                        <p class="h6"><small>Conferencia: </small><strong>{{ conference.name }}</strong></p>
                        <p class="h6"><small>Equipo: </small><strong>{{ club.name }}</strong></p>
                        <p class="h6"><small>Facción más jugada: </small><strong>{{ common.name }}</strong></p>
                        <p class="h6"><small>Última facción jugada: </small><strong>{{ last.name }}</strong></p>
                    </div>
                </div>
                <form class="profile-form" action="/profile" method="post">
                    <input placeholder="Nombre" type="text" name="name" id="name">
                    <input placeholder="Mail (Sólo para comunicaciones)" type="email" name="email" id="email">
                    <select style="display: none" name="conference" id="conference">
                        {% for conf in conferences %}
                            {% if conf.id == usr.conference %}
                                <option value="{{ conf.id }}" selected>{{ conf.name }}</option>
                            {% else %}
                                <option value="{{ conf.id }}">{{ conf.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <button type="submit" class="type-btn mt-4">Actualizar</button>
                </form>
            </div>
        </div>
      </div>
    </div>
  </div>
<script>
    function showPopup() {
        document.getElementById('popupOverlay').style.display = 'flex';
    }

    function closePopup() {
        document.getElementById('popupOverlay').style.display = 'none';
    }
    function displaySelectedFile() {
        var fileInput = document.getElementById('imageInput');
        var imagePreview = document.getElementById('imagePreview');
        var buttonPicture = document.getElementById('buttonPicture');

        if (fileInput.files.length > 0) {

            // Display image preview
            var reader = new FileReader();
            reader.onload = function (e) {
                imagePreview.src = e.target.result;
                imagePreview.style.display = 'block'
                buttonPicture.style.display = 'block'
            };
            reader.readAsDataURL(fileInput.files[0]);
        } else {
            imagePreview.src = '';
        }
    }

    // Add an event listener to the form for handling the submission
    document.getElementById('uploadForm').addEventListener('submit', function (event) {
        event.preventDefault(); // Prevent the default form submission behavior

        var form = document.getElementById('uploadForm');
        var formData = new FormData(form);

        // Send AJAX POST request to Flask server
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/new-image', true);

        // Set up the callback to handle the response
        xhr.onload = function () {
            if (xhr.status === 200) {
                window.location.reload();
            } else {
                alert('Error uploading file. Please try again.');
            }
        };

        // Send the form data
        xhr.send(formData);
    });
</script>
{% endblock %}