{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row mb-4">
      <div class="col-md-12 align-self-stretch">
        <div class="box-view box-view-profile" style="background-image: url(../static/stylesheets/img/bg-invent-1.png);">
            <div class="profile-container">
                <img src="{{ usr.profilePic }}" class="rounded-circle shadow-4 kt-avatar-profile" alt="Avatar" />
                <div class="profile-info p-i-col">
                    <p class="h2"><strong>{{ usr.bcpName }}</strong></p>
                    <div>
                        <p class="h6"><small>Conferencia: </small><strong>{{ conference.name }}</strong></p>
                        <p class="h6"><small>Equipo: </small><strong>{{ club.name }}</strong></p>
                        <p class="h6"><small>Facción más jugada: </small><strong>{{ common.name }}</strong></p>
                        <p class="h6"><small>Última facción jugada: </small><strong>{{ last.name }}</strong></p>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 align-self-stretch ma">
        <div class="box-view box-view-profile" style="background-image: url(../static/stylesheets/img/bg-invent-1.png);">
            <form class="profile-form" action="/profile" method="post">
                <input placeholder="Nombre" type="text" name="name" id="name">
                <input placeholder="Mail (Sólo para comunicaciones)" type="email" name="email" id="email">
                <select name="conference" id="conference">
                    {% for conf in conferences %}
                        <option value="{{ conf.id }}">{{ conf.name }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="type-btn mt-4">Actualizar</button>
            </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}