{% extends 'base.html' %}
{% block content %}
<div class="users-content">
    <div class="col-md-8 align-self-stretch users-col">
        <div class="box-view box-paginated" style="background-image: url(../static/stylesheets/img/bg-invent-1.png);">
            <p class="title-box">Ranking Individual</p>
            <table class="fl-table">
                <thead>
                    <tr>
                        <th style="width: 60%;"><small>Nombre</small></th>
                        <th><small>Posición</small></th>
                        <th><small>Puntuación</small></th>
                    </tr>
                </thead>
                <tbody id="users-body">
                <tbody>
            </table>
            <!-- Pagination Controls -->
            <nav aria-label="Page navigation" class="pagination-nav">
                <ul class="pagination" id="userPagination">
                </ul>
            </nav>
        </div>
    </div>
    <div class="col-md-8 align-self-stretch teams-col">
        <div class="box-view box-paginated" style="background-image: url(../static/stylesheets/img/bg-invent-1.png);">
            <p class="title-box">Ranking Equipos</p>
            <table class="fl-table">
                <thead>
                    <tr>
                        <th style="width: 60%;"><small>Nombre</small></th>
                        <th><small>Posición</small></th>
                        <th><small>Puntuación</small></th>
                    </tr>
                </thead>
                <tbody id="teams-body">
                <tbody>
            </table>
            <nav aria-label="Page navigation" class="pagination-nav">
                <ul class="pagination" id="teamPagination">
                </ul>
            </nav>
        </div>
    </div>
    <div class="col-md-8 align-self-stretch users-col">
        <div class="box-view box-paginated" style="background-image: url(../static/stylesheets/img/bg-invent-1.png);">
            <p class="title-box">Conferencia Norte</p>
            <table class="fl-table">
                <thead>
                    <tr>
                        <th style="width: 60%;"><small>Nombre</small></th>
                        <th><small>Posición</small></th>
                        <th><small>Puntuación</small></th>
                    </tr>
                </thead>
                <tbody id="users-body-norte">
                <tbody>
            </table>
            <!-- Pagination Controls -->
            <nav aria-label="Page navigation" class="pagination-nav">
                <ul class="pagination" id="nortePagination">
                </ul>
            </nav>
        </div>
    </div>
    <div class="col-md-8 align-self-stretch users-col">
        <div class="box-view box-paginated" style="background-image: url(../static/stylesheets/img/bg-invent-1.png);">
            <p class="title-box">Conferencia Noreste</p>
            <table class="fl-table">
                <thead>
                    <tr>
                        <th style="width: 60%;"><small>Nombre</small></th>
                        <th><small>Posición</small></th>
                        <th><small>Puntuación</small></th>
                    </tr>
                </thead>
                <tbody id="users-body-noreste">
                <tbody>
            </table>
            <!-- Pagination Controls -->
            <nav aria-label="Page navigation" class="pagination-nav">
                <ul class="pagination" id="norestePagination">
                </ul>
            </nav>
        </div>
    </div>
    <div class="col-md-8 align-self-stretch users-col">
        <div class="box-view box-paginated" style="background-image: url(../static/stylesheets/img/bg-invent-1.png);">
            <p class="title-box">Conferencia Este</p>
            <table class="fl-table">
                <thead>
                    <tr>
                        <th style="width: 60%;"><small>Nombre</small></th>
                        <th><small>Posición</small></th>
                        <th><small>Puntuación</small></th>
                    </tr>
                </thead>
                <tbody id="users-body-este">
                <tbody>
            </table>
            <!-- Pagination Controls -->
            <nav aria-label="Page navigation" class="pagination-nav">
                <ul class="pagination" id="estePagination">
                </ul>
            </nav>
        </div>
    </div>
    <div class="col-md-8 align-self-stretch users-col">
        <div class="box-view box-paginated" style="background-image: url(../static/stylesheets/img/bg-invent-1.png);">
            <p class="title-box">Conferencia Centro</p>
            <table class="fl-table">
                <thead>
                    <tr>
                        <th style="width: 60%;"><small>Nombre</small></th>
                        <th><small>Posición</small></th>
                        <th><small>Puntuación</small></th>
                    </tr>
                </thead>
                <tbody id="users-body-centro">
                <tbody>
            </table>
            <!-- Pagination Controls -->
            <nav aria-label="Page navigation" class="pagination-nav">
                <ul class="pagination" id="centroPagination">
                </ul>
            </nav>
        </div>
    </div>
    <div class="col-md-8 align-self-stretch users-col">
        <div class="box-view box-paginated" style="background-image: url(../static/stylesheets/img/bg-invent-1.png);">
            <p class="title-box">Conferencia Sur</p>
            <table class="fl-table">
                <thead>
                    <tr>
                        <th style="width: 60%;"><small>Nombre</small></th>
                        <th><small>Posición</small></th>
                        <th><small>Puntuación</small></th>
                    </tr>
                </thead>
                <tbody id="users-body-sur">
                <tbody>
            </table>
            <!-- Pagination Controls -->
            <nav aria-label="Page navigation" class="pagination-nav">
                <ul class="pagination" id="surPagination">
                </ul>
            </nav>
        </div>
    </div>
</div>
<script>
    // Get user data from Flask template
    var users = {{ users | tojson | safe }};
    var norte = {{ norte | tojson | safe }};
    var noreste = {{ noreste | tojson | safe }};
    var este = {{ este | tojson | safe }};
    var centro = {{ centro | tojson | safe }};
    var sur = {{ sur | tojson | safe }};
    var teams = {{ teams | tojson | safe }};

    var itemsPerPage = 10;
    var currentUsersPage = 1;
    var currentTeamsPage = 1;
    var currentNortePage = 1;
    var currentNorestePage = 1;
    var currentEstePage = 1;
    var currentCentroPage = 1;
    var currentSurPage = 1;

    function renderTable(start, end, list, className) {
        var tableBody = document.getElementById(className);
        tableBody.innerHTML = '';

        for (var i = start; i < end; i++) {
            let user = list[i];
            if (user) {
                var row = document.createElement('tr');
                row.onclick = function () {
                    location.href = '/user/' + user.id;
                };
                if (className == 'teams-body') {
                    row.onclick = function () {
                        location.href = '/club/' + user.id;
                    };
                }

                var nameCell = document.createElement('td');
                nameCell.style.width = '60%';
                var imageAvatar = document.createElement('img');
                imageAvatar.src = user.profilePic;
                imageAvatar.classList.add('shadow-4')
                imageAvatar.classList.add('rounded-circle')
                imageAvatar.classList.add('kt-avatar')

                nameCell.appendChild(imageAvatar);
                var smallName = document.createElement('small');
                smallName.textContent = user.bcpName.substring(0, 20);
                nameCell.appendChild(smallName);
                row.appendChild(nameCell);

                var positionCell = document.createElement('td');
                positionCell.textContent = i + 1;
                row.appendChild(positionCell);

                var scoreCell = document.createElement('td');
                scoreCell.textContent = user.ibericonScore.toFixed(2);
                row.appendChild(scoreCell);

                tableBody.appendChild(row);
            }
        }
    }

    function renderPagination(idName, list, className, currentPage) {
        var totalPages = Math.ceil(list.length / itemsPerPage);
        var paginationElement = document.getElementById(idName);
        paginationElement.innerHTML = '';

        var liBack = document.createElement('li');
        liBack.className = 'page-item';
        var a = document.createElement('a');
        a.className = 'page-link';
        a.textContent = '<';
        a.onclick = function () {
            currentPage = currentPage - 1;
            currentPage = currentPage < 1 ? 1 : currentPage
            renderTable((currentPage - 1) * itemsPerPage, currentPage * itemsPerPage, list, className);
            renderPagination(idName, list, className, currentPage);
        };
        liBack.appendChild(a);
        paginationElement.appendChild(liBack);

        var liPage = document.createElement('li');
        liPage.className = 'page-item';
        var a = document.createElement('a');
        a.className = 'page-link';
        a.textContent = currentPage;
        liPage.appendChild(a);
        paginationElement.appendChild(liPage);

        var liNext = document.createElement('li');
        liNext.className = 'page-item';
        var a = document.createElement('a');
        a.className = 'page-link';
        a.textContent = '>';
        a.onclick = function () {
            currentPage = currentPage + 1;
            currentPage = currentPage > totalPages ? totalPages : currentPage
            renderTable((currentPage - 1) * itemsPerPage, currentPage * itemsPerPage, list, className);
            renderPagination(idName, list, className, currentPage);
        };
        liNext.appendChild(a);
        paginationElement.appendChild(liNext);
    }

    // Initial rendering
    renderTable(0, itemsPerPage, users, 'users-body');
    renderPagination('userPagination', users, 'users-body', currentUsersPage);

    renderTable(0, itemsPerPage, teams, 'teams-body');
    renderPagination('teamPagination', teams, 'teams-body', currentTeamsPage);

    renderTable(0, itemsPerPage, norte, 'users-body-norte');
    renderPagination('nortePagination', norte, 'users-body-norte', currentNortePage);

    renderTable(0, itemsPerPage, noreste, 'users-body-noreste', 'Noreste');
    renderPagination('norestePagination', noreste, 'users-body-noreste', currentNorestePage);

    renderTable(0, itemsPerPage, este, 'users-body-este');
    renderPagination('estePagination', este, 'users-body-este', currentEstePage);

    renderTable(0, itemsPerPage, centro, 'users-body-centro');
    renderPagination('centroPagination', centro, 'users-body-centro', currentCentroPage);

    renderTable(0, itemsPerPage, sur, 'users-body-sur');
    renderPagination('surPagination', sur, 'users-body-sur', currentSurPage);
</script>
{% endblock %}