{% extends 'base.html' %}
{% block content %}
    <div class="login">
        <h2>Registro (Entra primero en BCP)</h2>
        <form class="login-form" action="/signup" method="post">
            <input placeholder="Email BCP" type="text" name="mail" id="mail">
            <input placeholder="Contraseña BCP" type="password" name="password" id="password">
            <button type="submit">Resgistrarse</button>
            <a href="/login/only-collaborator">¿Ya tienes cuenta? Entra aquí</a>
        </form>
    </div>
{% endblock %}