{% extends 'base.html' %}
{% block content %}
	<div class="row grow-down">
		<div class="col-md-6 align-self-stretch">
			<div class="box-view box-paginated" style="background-image: url(../static/stylesheets/img/bg-invent-1.png);">
				<p class="title-box">Torneos realizados</p>
				<table class="fl-table">
					<thead>
						<tr>
							<th style="width: 50%;"><small>Nombre</small></th>
							<th style="width: 30%;"><small>Fecha</small></th>
							<th style="width: 20%;"><small>Conferencia</small></th>
						</tr>
					</thead>
					<tbody id="tournaments-body">
					<tbody>
				</table>
				<!-- Pagination Controls -->
				<nav aria-label="Page navigation" class="pagination-nav">
					<ul class="pagination" id="tournamentPagination">
					</ul>
				</nav>
			</div>
		</div>
		<div class="col-md-6 align-self-stretch r-n" id="Norte">
			<div class="box-view box-paginated" style="background-image: url(../static/stylesheets/img/bg-invent-1.png);">
				<p class="title-box title-selector"><a onclick="back('Norte')" class="page-link"><</a>Conferencia Norte<a onclick="forward('Norte')" class="page-link">></a></p>
				<table class="fl-table">
					<thead>
						<tr>
							<th style="width: 60%;"><small>Nombre</small></th>
							<th><small>Fecha</small></th>
						</tr>
					</thead>
					<tbody id="future-n-body">
					<tbody>
				</table>
				<!-- Pagination Controls -->
				<nav aria-label="Page navigation" class="pagination-nav">
					<ul class="pagination" id="futureNPagination">
					</ul>
				</nav>
			</div>
		</div>
		<div class="col-md-6 align-self-stretch r-ne" id="Noreste">
			<div class="box-view box-paginated" style="background-image: url(../static/stylesheets/img/bg-invent-1.png);">
				<p class="title-box title-selector"><a onclick="back('Noreste')" class="page-link"><</a>Conferencia Noreste<a onclick="forward('Noreste')" class="page-link">></a></p>
				<table class="fl-table">
					<thead>
						<tr>
							<th style="width: 60%;"><small>Nombre</small></th>
							<th><small>Fecha</small></th>
						</tr>
					</thead>
					<tbody id="future-ne-body">
					<tbody>
				</table>
				<!-- Pagination Controls -->
				<nav aria-label="Page navigation" class="pagination-nav">
					<ul class="pagination" id="futureNEPagination">
					</ul>
				</nav>
			</div>
		</div>
		<div class="col-md-6 align-self-stretch r-e" id="Este">
			<div class="box-view box-paginated" style="background-image: url(../static/stylesheets/img/bg-invent-1.png);">
				<p class="title-box title-selector"><a onclick="back('Este')" class="page-link"><</a>Conferencia Este<a onclick="forward('Este')" class="page-link">></a></p>
				<table class="fl-table">
					<thead>
						<tr>
							<th style="width: 60%;"><small>Nombre</small></th>
							<th><small>Fecha</small></th>
						</tr>
					</thead>
					<tbody id="future-e-body">
					<tbody>
				</table>
				<!-- Pagination Controls -->
				<nav aria-label="Page navigation" class="pagination-nav">
					<ul class="pagination" id="futureEPagination">
					</ul>
				</nav>
			</div>
		</div>
		<div class="col-md-6 align-self-stretch r-c" id="Centro">
			<div class="box-view box-paginated" style="background-image: url(../static/stylesheets/img/bg-invent-1.png);">
				<p class="title-box title-selector"><a onclick="back('Centro')" class="page-link"><</a>Conferencia Centro<a onclick="forward('Centro')" class="page-link">></a></p>
				<table class="fl-table">
					<thead>
						<tr>
							<th style="width: 60%;"><small>Nombre</small></th>
							<th><small>Fecha</small></th>
						</tr>
					</thead>
					<tbody id="future-c-body">
					<tbody>
				</table>
				<!-- Pagination Controls -->
				<nav aria-label="Page navigation" class="pagination-nav">
					<ul class="pagination" id="futureCPagination">
					</ul>
				</nav>
			</div>
		</div>
		<div class="col-md-6 align-self-stretch r-s" id="Sur">
			<div class="box-view box-paginated" style="background-image: url(../static/stylesheets/img/bg-invent-1.png);">
				<p class="title-box title-selector"><a onclick="back('Sur')" class="page-link"><</a>Conferencia Sur<a onclick="forward('Sur')" class="page-link">></a></p>
				<table class="fl-table">
					<thead>
						<tr>
							<th style="width: 60%;"><small>Nombre</small></th>
							<th><small>Fecha</small></th>
						</tr>
					</thead>
					<tbody id="future-s-body">
					<tbody>
				</table>
				<!-- Pagination Controls -->
				<nav aria-label="Page navigation" class="pagination-nav">
					<ul class="pagination" id="futureSPagination">
					</ul>
				</nav>
			</div>
		</div>
	</div>

	<script>
    // Get user data from Flask template
    var tournaments = {{ past | tojson | safe }};
    var tournamentsN = {{ torN | tojson | safe }};
    var tournamentsNE = {{ torNE | tojson | safe }};
    var tournamentsE = {{ torE | tojson | safe }};
    var tournamentsC = {{ torC | tojson | safe }};
    var tournamentsS = {{ torS | tojson | safe }};

    var itemsPerPage = Math.floor(window.innerHeight * 20 / 1400);
    var stringLimiter = Math.floor(window.innerWidth * 25 / 1900);
    var currentTournamentsPage = 1;
    var currentTournamentsNPage = 1;
    var currentTournamentsNEPage = 1;
    var currentTournamentsEPage = 1;
    var currentTournamentsCPage = 1;
    var currentTournamentsSPage = 1;

    var backDictionary = {
        "Norte": "Sur",
        "Sur": "Este",
        "Este": "Noreste",
        "Noreste": "Centro",
        "Centro": "Norte",
    };
    function back(reg) {
        var table = document.getElementById(reg)
        table.style.display = 'none';
        var tableToShow = document.getElementById(backDictionary[reg])
        tableToShow.style.display = 'block'
    }
    var forwardDictionary = {
        "Sur": "Norte",
        "Este": "Sur",
        "Noreste": "Este",
        "Centro": "Noreste",
        "Norte": "Centro",
    };
    function forward(reg) {
        var table = document.getElementById(reg)
        table.style.display = 'none';
        var tableToShow = document.getElementById(forwardDictionary[reg])
        tableToShow.style.display = 'block'
    }

    function renderTable(start, end, list, className) {
        var tableBody = document.getElementById(className);
        tableBody.innerHTML = '';

        for (var i = start; i < end; i++) {
            let user = list[i];
            if (user) {
                var row = document.createElement('tr');
                row.onclick = function () {
                    location.href = user.bcpUri;
                };

                var nameCell = document.createElement('td');
                nameCell.style.width = '50%';
                var imageAvatar = document.createElement('img');
                imageAvatar.src = user.imgUri;
                imageAvatar.classList.add('shadow-4')
                imageAvatar.classList.add('rounded-circle')
                imageAvatar.classList.add('kt-avatar')

                nameCell.appendChild(imageAvatar);
                var smallName = document.createElement('small');
                smallName.textContent = user.name.substring(0, stringLimiter);
                nameCell.appendChild(smallName);
                row.appendChild(nameCell);

                var dateCell = document.createElement('td');
                dateCell.style.width = '30%';
                dateCell.textContent = user.date;
                row.appendChild(dateCell);

                var conferenceCell = document.createElement('td');
                conferenceCell.style.width = '20%';
                conferenceCell.textContent = user.conference;
                row.appendChild(conferenceCell);

                tableBody.appendChild(row);
            }
        }
    }

    function renderPagination(idName, list, className, currentPage) {
        var totalPages = Math.ceil(list.length / itemsPerPage);
        var paginationElement = document.getElementById(idName);
        paginationElement.innerHTML = '';

        var liBack = document.createElement('li');
        liBack.className = 'page-item';
        var a = document.createElement('a');
        a.className = 'page-link';
        a.textContent = '<';
        a.onclick = function () {
            currentPage = currentPage - 1;
            currentPage = currentPage < 1 ? 1 : currentPage
            renderTable((currentPage - 1) * itemsPerPage, currentPage * itemsPerPage, list, className);
            renderPagination(idName, list, className, currentPage);
        };
        liBack.appendChild(a);
        paginationElement.appendChild(liBack);

        var liPage = document.createElement('li');
        liPage.className = 'page-item';
        var a = document.createElement('a');
        a.className = 'page-link';
        a.textContent = currentPage;
        liPage.appendChild(a);
        paginationElement.appendChild(liPage);

        var liNext = document.createElement('li');
        liNext.className = 'page-item';
        var a = document.createElement('a');
        a.className = 'page-link';
        a.textContent = '>';
        a.onclick = function () {
            currentPage = currentPage + 1;
            currentPage = currentPage > totalPages ? totalPages : currentPage
            renderTable((currentPage - 1) * itemsPerPage, currentPage * itemsPerPage, list, className);
            renderPagination(idName, list, className, currentPage);
        };
        liNext.appendChild(a);
        paginationElement.appendChild(liNext);
    }

    // Initial rendering
    renderTable(0, itemsPerPage, tournaments, 'tournaments-body');
    renderPagination('tournamentPagination', tournaments, 'tournaments-body', currentTournamentsPage);
    renderTable(0, itemsPerPage, tournamentsN, 'future-n-body');
    renderPagination('futureNPagination', tournamentsN, 'future-n-body', currentTournamentsNPage);
    renderTable(0, itemsPerPage, tournamentsNE, 'future-ne-body');
    renderPagination('futureNEPagination', tournamentsNE, 'future-ne-body', currentTournamentsNEPage);
    renderTable(0, itemsPerPage, tournamentsE, 'future-e-body');
    renderPagination('futureEPagination', tournamentsE, 'future-e-body', currentTournamentsEPage);
    renderTable(0, itemsPerPage, tournamentsC, 'future-c-body');
    renderPagination('futureCPagination', tournamentsC, 'future-c-body', currentTournamentsCPage);
    renderTable(0, itemsPerPage, tournamentsS, 'future-s-body');
    renderPagination('futureSPagination', tournamentsS, 'future-s-body', currentTournamentsSPage);
</script>
{% endblock %}