{% extends 'base.html' %}
{% block content %}
<div class="container flex-screen">
    <div class="row mb-4">
      <div class="col-md-12 align-self-stretch">
        <div class="box-view box-view-profile" style="background-image: url(../static/stylesheets/img/bg-invent-1.png);">
            <div class="position-container">
              <div class="profile-info margin-right-20">
                <img src="{{ usr.profilePic }}" class="rounded-circle shadow-4 kt-avatar-position" alt="Avatar" />
              </div>
                <div class="profile-info grow-down">
                    <div>
                        <p class="h2"><strong>{{ usr.bcpName }}</strong></p>
                        <p class="h6"><small>Conferencia: </small><strong>{{ conference.name }}</strong></p>
                        <p class="h6"><small>Equipo: </small><strong>{{ club.name }}</strong></p>
                        <p class="h6"><small>Facción más jugada: </small><strong>{{ common.name }}</strong></p>
                        <p class="h6"><small>Última facción jugada: </small><strong>{{ last.name }}</strong></p>
                    </div>
                  <div style="margin-top: 15px;" class="position-info">
                    <div class="col-md-3 align-self-stretch kt-mr-10">
                      <div class="box-view position-item">
                          <p class="display-6"><i class="icon-bargraph"></i></p>
                        <p class="h4">{{ globalClass }}º</p>
                        <p>Ibericon</p>
                      </div>
                    </div>
                      <div class="col-md-3 align-self-stretch kt-mr-10">
                      <div class="box-view position-item">
                          <p class="display-6"><i class="icon-bargraph"></i></p>
                        <p class="h4">{{ conferenceClass }}º</p>
                        <p>Conferencia</p>
                      </div>
                    </div>
                    <div class="col-md-3 align-self-stretch kt-mr-10">
                      <div class="box-view position-item">
                          <p class="display-6"><i class="icon-trophy"></i></p>
                        <p class="h4">{{ usr.tournaments|length }}</p>
                        <p>Torneos</p>
                      </div>
                    </div>
                    <div class="col-md-3 align-self-stretch kt-mr-10">
                      <div class="box-view position-item">
                        <p class="display-6"><i class="icon-piechart"></i></p>
                        <p class="h4">{{ '%0.2f'| format(usr.winRate) }}%</p>
                        <p>Winrate</p>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  <div class="row grow-down">
      <div class="col-md-4 align-self-stretch">
        <div class="box-view box-paginated" style="background-image: url(../static/stylesheets/img/bg-invent-1.png);">
            <p class="title-box">Torneos jugados</p>
            <table class="fl-table">
                <thead>
                    <tr>
                        <th><small>Nombre</small></th>
                        <th><small>Posición</small></th>
                    </tr>
                </thead>
                <tbody id="past-body">
                <tbody>
            </table>
            <!-- Pagination Controls -->
            <nav aria-label="Page navigation" class="pagination-nav">
                <ul class="pagination" id="pastPagination">
                </ul>
            </nav>
        </div>
    </div>
      <div class="col-md-4 align-self-stretch">
        <div class="box-view box-paginated" style="background-image: url(../static/stylesheets/img/bg-invent-1.png);">
            <p class="title-box">Facciones</p>
            <table class="fl-table">
                <thead>
                    <tr>
                        <th><small>Nombre</small></th>
                        <th><small>Winrate</small></th>
                    </tr>
                </thead>
                <tbody id="faction-body">
                <tbody>
            </table>
            <!-- Pagination Controls -->
            <nav aria-label="Page navigation" class="pagination-nav">
                <ul class="pagination" id="factionPagination">
                </ul>
            </nav>
        </div>
    </div>
      <div class="col-md-4 align-self-stretch">
        <div class="box-view box-paginated" style="background-image: url(../static/stylesheets/img/bg-invent-1.png);">
            <p class="title-box">Torneos Futuros</p>
            <table class="fl-table">
                <thead>
                    <tr>
                        <th><small>Nombre</small></th>
                        <th><small>Fecha</small></th>
                    </tr>
                </thead>
                <tbody id="future-body">
                <tbody>
            </table>
            <!-- Pagination Controls -->
            <nav aria-label="Page navigation" class="pagination-nav">
                <ul class="pagination" id="futurePagination">
                </ul>
            </nav>
        </div>
    </div>
    </div>
  </div>
<script>
    // Get user data from Flask template
    var past = {{ past | tojson | safe }};
    var future = {{ future | tojson | safe }};
    var faction = {{ ratesFactions | tojson | safe }};

    var itemsPerPage = 8;
    var currentPastPage = 1;
    var currentFuturePage = 1;
    var currentFactionPage = 1;

    function renderTable(start, end, list, className) {
        var tableBody = document.getElementById(className);
        tableBody.innerHTML = '';

        for (var i = start; i < end; i++) {
            let user = list[i];
            if (user) {
                var row = document.createElement('tr');
                row.onclick = function () {
                    location.href = user.bcpUri;
                };
                if (className == 'faction-body') {
                    row.onclick = function () {
                        location.href = '/faction/' + user.id;
                    };
                }


                var nameCell = document.createElement('td');
                nameCell.style.width = '70%';
                var imageAvatar = document.createElement('img');
                imageAvatar.src = user.img;
                imageAvatar.classList.add('shadow-4')
                imageAvatar.classList.add('rounded-circle')
                imageAvatar.classList.add('kt-avatar')

                nameCell.appendChild(imageAvatar);
                var smallName = document.createElement('small');
                smallName.textContent = user.name.substring(0, 20);
                nameCell.appendChild(smallName);
                row.appendChild(nameCell);

                var positionCell = document.createElement('td');
                positionCell.textContent = user.position;
                row.appendChild(positionCell);

                tableBody.appendChild(row);
            }
        }
    }

    function renderPagination(idName, list, className, currentPage) {
        var totalPages = Math.ceil(list.length / itemsPerPage);
        var paginationElement = document.getElementById(idName);
        paginationElement.innerHTML = '';

        var liBack = document.createElement('li');
        liBack.className = 'page-item';
        var a = document.createElement('a');
        a.className = 'page-link';
        a.textContent = '<';
        a.onclick = function () {
            currentPage = currentPage - 1;
            currentPage = currentPage < 1 ? 1 : currentPage
            renderTable((currentPage - 1) * itemsPerPage, currentPage * itemsPerPage, list, className);
            renderPagination(idName, list, className, currentPage);
        };
        liBack.appendChild(a);
        paginationElement.appendChild(liBack);

        var liPage = document.createElement('li');
        liPage.className = 'page-item';
        var a = document.createElement('a');
        a.className = 'page-link';
        a.textContent = currentPage;
        liPage.appendChild(a);
        paginationElement.appendChild(liPage);

        var liNext = document.createElement('li');
        liNext.className = 'page-item';
        var a = document.createElement('a');
        a.className = 'page-link';
        a.textContent = '>';
        a.onclick = function () {
            currentPage = currentPage + 1;
            currentPage = currentPage > totalPages ? totalPages : currentPage
            renderTable((currentPage - 1) * itemsPerPage, currentPage * itemsPerPage, list, className);
            renderPagination(idName, list, className, currentPage);
        };
        liNext.appendChild(a);
        paginationElement.appendChild(liNext);
    }

    // Initial rendering
    renderTable(0, itemsPerPage, past, 'past-body');
    renderPagination('pastPagination', past, 'past-body', currentPastPage);

    renderTable(0, itemsPerPage, future, 'future-body');
    renderPagination('futurePagination', future, 'future-body', currentFuturePage);

    renderTable(0, itemsPerPage, faction, 'faction-body');
    renderPagination('factionPagination', faction, 'faction-body', currentFactionPage);
</script>
{% endblock %}