{% extends 'base.html' %}
{% block content %}
<div class="winrates-content">
    <div class="col-md-8 align-self-stretch users-col">
        <div class="box-view box-paginated" style="background-image: url(../static/stylesheets/img/bg-invent-1.png);">
            <p class="title-box">Winrate Individual</p>
            <table class="fl-table">
                <thead>
                    <tr>
                        <th style="width: 60%;"><small>Nombre</small></th>
                        <th><small>Posición</small></th>
                        <th><small>Winrate</small></th>
                    </tr>
                </thead>
                <tbody id="users-body">
                <tbody>
            </table>
            <!-- Pagination Controls -->
            <nav aria-label="Page navigation" class="pagination-nav">
                <ul class="pagination" id="userPagination">
                    <!-- Pagination links will be dynamically added here using JavaScript -->
                </ul>
            </nav>
        </div>
    </div>
    <div class="col-md-8 align-self-stretch users-col">
        <div class="box-view box-paginated" style="background-image: url(../static/stylesheets/img/bg-invent-1.png);">
            <p class="title-box">Winrate Facciones</p>
            <table class="fl-table">
                <thead>
                    <tr>
                        <th style="width: 50%;"><small>Nombre</small></th>
                        <th><small>Posición</small></th>
                        <th><small>Winrate</small></th>
                        <th><small>Pickrate</small></th>
                    </tr>
                </thead>
                <tbody id="factions-body">
                <tbody>
            </table>
            <!-- Pagination Controls -->
            <nav aria-label="Page navigation" class="pagination-nav">
                <ul class="pagination" id="factionPagination">
                    <!-- Pagination links will be dynamically added here using JavaScript -->
                </ul>
            </nav>
        </div>
    </div>
</div>
<script>
    // Get user data from Flask template
    var users = {{ users | tojson | safe }};
    var factions = {{ factions | tojson | safe }}

    var itemsPerPage = 10;
    var currentUsersPage = 1;
    var currentFactionsPage = 1;

    function renderTable(start, end, list, className, isFaction) {
        var tableBody = document.getElementById(className);
        tableBody.innerHTML = '';

        for (var i = start; i < end; i++) {
            let user = list[i];
            if (user) {
                var row = document.createElement('tr');
                row.onclick = function () {
                    location.href = '/user/' + user.id;
                    if (isFaction) {
                        location.href = '/faction/' + user.id;
                    };
                };

                var nameCell = document.createElement('td');
                nameCell.style.width = '50%';
                if (!isFaction) {
                    nameCell.style.width = '60%';
                    var imageAvatar = document.createElement('img');
                    imageAvatar.src = user.profilePic;
                    imageAvatar.classList.add('shadow-4')
                    imageAvatar.classList.add('rounded-circle')
                    imageAvatar.classList.add('kt-avatar')
                    nameCell.appendChild(imageAvatar);
                };
                var smallName = document.createElement('small');
                smallName.textContent = user.bcpName.substring(0, 20);
                nameCell.appendChild(smallName);
                row.appendChild(nameCell);

                var positionCell = document.createElement('td');
                positionCell.textContent = i + 1;
                row.appendChild(positionCell);

                var scoreCell = document.createElement('td');
                scoreCell.textContent = user.winRate > 0.0 ? user.winRate.toFixed(1) : '0.0';
                scoreCell.textContent += '%'
                row.appendChild(scoreCell);

                if (isFaction) {
                    var pickCell = document.createElement('td');
                    pickCell.textContent = user.pickRate > 0.0 ? user.pickRate.toFixed(1) : '0.0';
                    pickCell.textContent += '%'
                    row.appendChild(pickCell);
                };

                tableBody.appendChild(row);
            }
        }
    }

    function renderPagination(idName, list, className, currentPage, isFaction) {
        var totalPages = Math.ceil(list.length / itemsPerPage);
        var paginationElement = document.getElementById(idName);
        paginationElement.innerHTML = '';

        var liBack = document.createElement('li');
        liBack.className = 'page-item';
        var a = document.createElement('a');
        a.className = 'page-link';
        a.textContent = '<';
        a.onclick = function () {
            currentPage = currentPage - 1;
            currentPage = currentPage < 1 ? 1 : currentPage
            renderTable((currentPage - 1) * itemsPerPage, currentPage * itemsPerPage, list, className, isFaction);
            renderPagination(idName, list, className, currentPage, isFaction);
        };
        liBack.appendChild(a);
        paginationElement.appendChild(liBack);

        var liPage = document.createElement('li');
        liPage.className = 'page-item';
        var a = document.createElement('a');
        a.className = 'page-link';
        a.textContent = currentPage;
        liPage.appendChild(a);
        paginationElement.appendChild(liPage);

        var liNext = document.createElement('li');
        liNext.className = 'page-item';
        var a = document.createElement('a');
        a.className = 'page-link';
        a.textContent = '>';
        a.onclick = function () {
            currentPage = currentPage + 1;
            currentPage = currentPage > totalPages ? totalPages : currentPage
            renderTable((currentPage - 1) * itemsPerPage, currentPage * itemsPerPage, list, className, isFaction);
            renderPagination(idName, list, className, currentPag, isFaction);
        };
        liNext.appendChild(a);
        paginationElement.appendChild(liNext);
    }

    // Initial rendering
    renderTable(0, itemsPerPage, users, 'users-body', false);
    renderPagination('userPagination', users, 'users-body', currentUsersPage, false);
    renderTable(0, itemsPerPage, factions, 'factions-body', true);
    renderPagination('factionPagination', factions, 'factions-body', currentFactionsPage, true);
</script>
{% endblock %}